<article>

  <div class="author">
    <div class="author-detail">
      <img class="profile-photo" src="https://scontent-icn1-1.cdninstagram.com/t51.2885-19/s150x150/15624371_1364192260321022_7445173950457315328_a.jpg"
        alt="프로필 사진">
      <strong class="author-name">grangrang</strong>
      <div class="created-at">55분</div>
    </div>
  </div>

  <div class="content">
    <img src="https://www.calliaweb.co.uk/wp-content/uploads/2015/10/600x600.jpg" alt="콘텐츠 사진">
    <p>
      국회는 선전포고, 국군의 외국에의 파견 또는 외국군대의 대한민국 영역안에서의 주류에 대한 동의권을 가진다. 국회는 의장 1인과 부의장 2인을 선출한다. 국무회의는 대통령·국무총리와 15인 이상 30인 이하의 국무위원으로
      구성한다. 대통령은 조약을 체결·비준하고, 외교사절을 신임·접수 또는 파견하며, 선전포고와 강화를 한다. 국회의원은 그 지위를 남용하여 국가·공공단체 또는 기업체와의 계약이나 그 처분에 의하여 재산상의 권리·이익
      또는 직위를 취득하거나 타인을 위하여 그 취득을 알선할 수 없다. 언론·출판은 타인의 명예나 권리 또는 공중도덕이나 사회윤리를 침해하여서는 아니된다. 언론·출판이 타인의 명예나 권리를 침해한 때에는 피해자는
      이에 대한 피해의 배상을 청구할 수 있다.
    </p>
  </div>

  <div class="social">
    <div class="like">jeewhan님과 jullecho님이 좋아합니다</div>
    <div class="action">
      <img class="heart" src="http://www.hiboo.co/img/img-ph-heart-2.png" alt="heart-icon">
      <div class="comment">댓글 달기...</div>
      <img class="option" src="https://cdn2.iconfinder.com/data/icons/clean-simple/75/more-512.png" alt="option-icon">
    </div>
  </div>

</article>
