<!DOCTYPE html>
<html>
  <head>
    <!-- charset과 viewport가 빠져있으니 추가해주어요! -->
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
